# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*

# Audio files (large files for CDN)
public/audio/*.mp3
# Un-ignore specific files for development
!public/audio/001.mp3
!public/audio/112.mp3
!public/audio/113.mp3
!public/audio/114.mp3
